### TUPLE
- Immutable
- ordered
- allow duplicates
- Faster than List

In [1]:
t1 = (1, 2, 3)
t1

(1, 2, 3)

In [3]:
t1[1] = 'sid' # can not modify the elements

TypeError: 'tuple' object does not support item assignment

In [4]:
t2 = tuple(input('Enter value').split())
t2

Enter value 1 2 3 4 5 6 7

('1', '2', '3', '4', '5', '6', '7')

In [6]:
t3 = tuple(map(int, input('enter data').split()))
t3

enter data 1 2 3 4 5

(1, 2, 3, 4, 5)

In [7]:
del(t3[0])

TypeError: 'tuple' object doesn't support item deletion

In [9]:
del(t3)

In [10]:
t3

NameError: name 't3' is not defined

#### Functions of Tuple
- sum
- min
- max
- index
- count
- all
- any
- len

In [11]:
t1

(1, 2, 3)

In [12]:
t1.index(2)

1

In [13]:
t1.count(3)

1

####  OPerations in Tuple
- concate (+)
- repitition (*)
- membership (in, not in)

## There is no tuple comprehesion in python
## but we we can do using tuple() typecasting

In [14]:
t5 = tuple(x**2 for x in range(1, 21))

In [15]:
t5

(1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400)