### BankAccount
========================================================================
| accountNumber, balance, name                                         |
----------------------------------------------------------------------
| deposit(amount), withdraw(amount), get_balance(), display()          |
------------------------------------------------------------------------

In [74]:
class bankAccount:
    
    def __init__(self,name,accountNumber, bal):
        self.bal = bal
        self.name = name
        self.accountNumber = accountNumber
        
    def deposit(self, amt):
        self.bal += amt
        print("Amount Deposited")
        self.get_balance()
        
    def withdraw(self, amt):
        self.bal -= amt
        print("Amount Withdrawed")
        self.get_balance()

    def get_balance(self):
        print(self.bal)

    def display(self):
        print(self.name)
        print(self.accountNumber)

In [64]:
c1 = bankAccount('sid', 101101, 12345678)
c1.display()

sid
101101

In [65]:
c1.deposit(1234)

Amount Deposited
12346912

In [66]:
c1.get_balance()

12346912

In [67]:
c1.deposit(1234)

Amount Deposited
12348146

In [68]:
c1.get_balance()

12348146

In [69]:
c1.withdraw(1234)

Amount Withdrawed

In [70]:
c1.get_balance()

12346912

In [71]:
c2 = bankAccount('sam',202202, 100)

In [72]:
c2.deposit(100000000)

Amount Deposited
100000100

In [75]:
c2.withdraw(1000000)

Amount Withdrawed

In [76]:
c2.get_balance()

98000100

# Problem Statement2 : 

### BankAccount
========================================================================
| __accountNumber(private), __balance(private), name                   |
----------------------------------------------------------------------
| deposit(amount), withdraw(amount), get_balance(), display()          |
------------------------------------------------------------------------

In [70]:
class bankAccount:
    
    def __init__(self,name, accountNumber, bal):
        self.__bal = bal
        self.name = name
        self.__accountNumber = accountNumber
    
    def withdraw(self, amt):
        self.__bal -= amt
        print("Amount Withdrawed")

    @property
    def get_acc(self):
        return self.__accountNumber
    
    @property
    def get_balance(self):
        print(self.__bal)

    @get_balance.setter
    def set_balance(self, amt):
        self.__bal = amt
    
    def deposit(self, amt):
        self.__bal += amt
        print("Amount Deposited")
        
    def display(self):
        print(self.name)
        print(self.__accountNumber)

In [71]:
cust1 = bankAccount('sid',3030, 300)

In [72]:
cust1.get_balance

300

In [73]:
cust1.display()

sid
3030

In [74]:
cust1.deposit(1000)

Amount Deposited

In [78]:
cust1.get_balance

10

In [76]:
cust1.get_acc

3030

In [77]:
cust1.set_balance = 10

# Problem statement 3

In [93]:
class Person:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display_person(self):
        print(f"Name : {self.name}, Age : {self.age}")
        
class Employee(Person):

    def __init__(self, emp_id, department):
        self.emp_id = emp_id
        self.department = department

    def display_employee(self):
        print(f"Employee ID : {self.emp_id}, Department : {self.department}")
        
class Manager(Employee):

    def __init__(self, team_size, emp_id, department, name, age):
        self.team_size =  team_size
        super().__init__(emp_id, department)
        Person.__init__(self, name, age)

    def display_manager(self):
        print(f"Team Size : {self.team_size},Employee ID : {self.emp_id}, Department : {self.department}, Name : {self.name}, Age : {self.age}")

class Trainer(Employee):

    def display_trainer(self):
        self.display_employee()

m1 = Manager(5, 101, "DS", "sid", 21)
m1.display_manager()

t1 = Trainer(102, "CS")
t1.display_trainer()

Team Size : 5,Employee ID : 101, Department : DS, Name : sid, Age : 21
Employee ID : 102, Department : CS