### BankAccount
========================================================================
| accountNumber, balance, name                                         |
----------------------------------------------------------------------
| deposit(amount), withdraw(amount), get_balance(), display()          |
------------------------------------------------------------------------

In [74]:
class bankAccount:
    
    def __init__(self,name,accountNumber, bal):
        self.bal = bal
        self.name = name
        self.accountNumber = accountNumber
        
    def deposit(self, amt):
        self.bal += amt
        print("Amount Deposited")
        self.get_balance()
        
    def withdraw(self, amt):
        self.bal -= amt
        print("Amount Withdrawed")
        self.get_balance()

    def get_balance(self):
        print(self.bal)

    def display(self):
        print(self.name)
        print(self.accountNumber)

In [64]:
c1 = bankAccount('sid', 101101, 12345678)
c1.display()

sid
101101

In [65]:
c1.deposit(1234)

Amount Deposited
12346912

In [66]:
c1.get_balance()

12346912

In [67]:
c1.deposit(1234)

Amount Deposited
12348146

In [68]:
c1.get_balance()

12348146

In [69]:
c1.withdraw(1234)

Amount Withdrawed

In [70]:
c1.get_balance()

12346912

In [71]:
c2 = bankAccount('sam',202202, 100)

In [72]:
c2.deposit(100000000)

Amount Deposited
100000100

In [75]:
c2.withdraw(1000000)

Amount Withdrawed

In [76]:
c2.get_balance()

98000100